*{margin: 0;padding: 0}
.content{
    margin: 0 auto;
    width: 600px;
    position: relative;
}
.images{
    width: 600px;
    height: 400px;
    margin-top: 20px;
}
img{
    width: 600px;
    position: absolute;
}
img:not(:first-child){
    display: none;
}
#prev{
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 100;
    width: 40px;
    height: 70px;
    background: url("../images/icon-slides.png") no-repeat;
    background-position-x:-86px; 
}
#prev:hover{
    background-position-x:0;
}
#next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 100;
    width: 40px;
    height: 70px;
    background: url("../images/icon-slides.png") no-repeat;
    background-position-x:-129px; 
}
#next:hover{
    background-position-x: -43px;
}
.btns{
    position: absolute;
    bottom: 20px;
    left: 40%;
}
span{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background: #333;
    border-radius: 50%;
}
.selected{
    background: orangered;
}